:root {
    --color: #444444;
    --green: #32CD32;
}
.green {
    background-color: var(--green)
}
.white {
    color: white;
}
.hover:hover {
    filter: brightness(60%);
}
*{ 
    margin:0;
    padding:0;
    
}
body, html {
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
form{
    width:100vw;
    padding:0;
}
nav, footer{
    background-color: var(--color);
}
nav {
    min-height:75px;
    height: 10vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div {
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    max-width:333px;
    
}
nav > div > *{
    max-height:10vh !important;
    max-width:200px !important;
    
}
nav div a img{
    object-fit:contain;
    width:100%;
    max-height:10vh;
}
nav div .navButton {
    height:5vh;
    min-width:10vw;
    padding:10px;
    border-radius:0.5vh;
    border-width:0;
}

footer {
    height: 150px;
    padding-top: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer > div{
    height:100%;
    max-width:500px;
    align-content:center;
}
footer > div > img{
    max-height:100%;
}


.mainPic {
    min-height:40vh;
    max-height:70vh;
    height: 700px;
    width: 100%;
    overflow: hidden; 
    position:relative;
}
.mainPic >img  {
    object-fit:cover;
    min-width: 100%;       
    min-height:100%;
}
.mainPic > h1{
    position:absolute;
    padding-top:5vh;
    font-size:calc(75px + 0.1vh;);
}
.landscape{
    height:100%
}
.portrait{
    width:100%;
}
.center{
    
}
main{
    width:100vw;
}
section{
    margin-bottom:25px;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
    
}
section > * {
    
    
   
}
section > div {
    max-height: 400px;
    max-width: 500px;
    overflow: hidden;
    
}
section > .picture {
    box-shadow: 0 0 100px -9px grey;
    padding: 0 !important;
}
section > .picture > img {
    height:100%;
    width:100%;
}
aside > *{
    margin:auto;
    max-width:80%;
}


.button {
    height: 40px;
    width: 100px;
    border-radius: 0.5vh;
    border-width: 0;

}
.left{
    float:left;
}
.right{
    float:right;
}
