:root {
    --color: #444444;
    --green: #4cd964;
}
*{ 
    margin:0;
    padding:0;
    
}
body, html{
    width:100vw;
}
form{
    width:100vw;
    padding:0;
}
nav, footer{
    background-color: var(--color);
}
nav {
    min-height: 10vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div {
    display:flex;
    justify-content:center;
    align-items:center;
    
}
nav div .navButton {
    height:5vh;
    min-width:10vw;
    padding:10px;
    border-radius:0.5vh;
    border-width:0;
}
nav div .navButton:hover {
    filter: brightness(60%);
}
.green{
    background-color:var(--green)
}
.mainPic {
    height: 70vh;
    width: 100%;
    overflow: hidden; 
}
.mainPic * {
    object-fit:cover;
    min-width: 100%;       
    min-height:100%;
}
.landscape{
    height:100%
}
.portrait{
    width:100%;
}
.center{
    
}
main{
    width:100vw;
}
section{
    margin-bottom:25px;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
    
}
section > * {
    
    
   
}
section > div {
    max-height: 400px;
    width: 500px;
    overflow: hidden;
    margin:20px;
}
section > .picture{
    box-shadow:0px 0px 200px -50px #000000;
}
section > .picture > img {
    height:100%;
    width:100%;
}
aside > *{
    margin:auto;
    max-width:80%;
}


.button {
    height: 40px;
    width: 100px;
    border-radius: 0.5vh;
    border-width: 0;

}
.left{
    float:left;
}
.right{
    float:right;
}
